[alias]
  fixup = commit --all --fixup=HEAD
  rubocop = !git diff --diff-filter=d --name-only origin/master | xargs rubocop --auto-correct
[branch]
  autosetuprebase = always
[color]
  ui = auto
[core]
  autocrlf = input
  excludesfile = ~/.gitignore.global
[credential]
  helper = osxkeychain
[fetch]
  prune = true
[grep]
  extendRegexp = true
  lineNumber = true
[include]
  path = ~/.gitconfig.local
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
